<H1>Stredoliga</H1>
Preteky v orientačnom behu za oblasť STRED 2025, 7. kolo Martin
<BR>

<table>
    <tr>
        <td>Dátum:</td>
        <td><b>24.9.2025 (streda)</b></td>
    </tr>
    <tr>
        <td>Miesto:</td>
        <td><b>Martin</b> sídlisko Košúty I., ZŠ Hurbanova 27<a target="_blank" rel="noopener noreferrer"
                href="https://maps.app.goo.gl/dcnvvijC4SbXmTRh7">(mapa)</a></td>
    </tr>
    <tr>
        <td>Popis:</td>
        <td><a href="https://is.orienteering.sk/competitions/1957">https://is.orienteering.sk/competitions/1957</a></td>
    </tr>
</table>

<BR />
<H3>Kategórie: </H3>
<UL>
    <LI><b>A</b> náročná 4,5 km - kategórie M/W 18, 20, 21 – 50</LI>
    <LI><b>B</b> stredná 3,0 km - kategórie M/W 14, 16 a M/W 55, 60, 65</LI>
    <LI><b>C</b> ľahká 1,5 km - kategórie M/W 12 a M/W 70</LI>
</UL>

<H3>Platba</H3>
<UL>
    <LI>kategória C - 5 Eur/osoba</LI>
    <LI>kategória A, B - 10 Eur/osoba</LI>
    <li>Ďeťom sa štartovné preplatí, za tie neplaťte</li>
    <li><b>Dospelí si uhradia za seba štartovné na účet: IBAN SK56 1100 0000 0026 2381 6128</b></li>
</UL>