<H1>Majstrovstvá Slovenska na strednej trati</H1> 
<B>World Ranking Event</B></BR>
<B>O pohár starostu obce Zázrivá</B></BR>
<B>Memoriál Juraja Šutora</B></BR>
</BR>
</BR>

<table>
<tr>
    <td>Dátum:</td><td><b>23.5.2026 (sobota) 13:00</b></td>
</tr>
<tr>
    <td>Miesto:</td><td><b>Zázrivá</b> - Strelnica v časti Paseky</a> <a target="_blank" rel="noopener noreferrer" href="https://sk.mapy.cz/s/befunobepa"> (mapa)</a></td>
</tr>
<tr>
    <td>Popis:</td><td><a href="https://is.orienteering.sk/competitions/1973">https://is.orienteering.sk/competitions/1973</a></td>
</tr>
</table>
<BR/>

<H3>Majstrovstvá SR + WRE:</H3>
<UL>
    <LI>W 21 E, M 21 E</LI>
</UL>
<BR/>

<H3>Majstrovstvá SR:</H3>
<UL>
    <LI>W 14 E, 16 E, 18 E, 20 E, 35 E, 40 E, 45 E, 50 E, 55 E, 60 E, 65 E, 70 E, 75 E</LI>
    <LI>M 14 E, 16 E, 18 E, 20 E, 35 E, 40 E, 45 E, 50 E, 55 E, 60 E, 65 E, 70 E, 75 E</LI>
</UL>
<BR/>

<H3>SRJ - Slovenský Rebríček Jednotlivcov:</H3>
<UL>
    <LI>W 12 A, M 12 A</LI>
</UL>
<BR/>

<H3>Verejné preteky:</H3>
<UL>
    <LI>W 10, M 10</LI>
    <LI>MWR (deti so sprievodom)</LI>
    <LI>K  kondičná (orientačne náročnejšia trať v dĺžke cca 2-3 km)</LI>
    <LI>N - náborová (orientačne jednoduchá trať pre začiatočníkov)</LI>
</UL>
