<H1>Majstrovstvá Slovenska štafiet</H1>
<BR/>
<BR/>

<table>
    <tr>
        <td>Dátum:</td>
        <td><b>24.5.2026 (nedeľa) 10:00</b></td>
    </tr>
    <tr>
        <td>Miesto:</td>
        <td><b>Zázrivá</b> - Strelnica v časti Paseky</a> <a target="_blank" rel="noopener noreferrer"
                href="https://sk.mapy.cz/s/befunobepa"> (mapa)</a></td>
    </tr>
    <tr>
        <td>Popis:</td>
        <td><a href="https://is.orienteering.sk/competitions/1972">https://is.orienteering.sk/competitions/1972</a></td>
    </tr>
</table>
<BR />

<H3>Kategórie - MS SR:</H3>
<UL>
    <LI>W 14, M 14 - dvojčlenné štafety</LI>
    <LI>W 18, 21, 105, 150, 180 - trojčlenné štafety</LI>
    <LI>M 18, 21, 105, 150, 180 - trojčlenné štafety</LI>
</UL>
<UL>
    <LI>MWM 14, MWM 18, MWM 21</LI>
    <LI>MWM 105, MWM 150, MWM 180</LI>
    <LI>Minimálne jeden úsek musí bežať žena</LI>
    <LI>Veteránske kategórie s číselným označením MWM 105,150,180 predstavujú minimálny súčet veku členov štafety s
        podmienkou, že vek každého člena musí byť vyšší ako 35 rokov</LI>
</UL>
<BR />

<H3>Kategórie - Verejné preteky:</H3>
<UL>
    <LI>MW 10 – dvojčlenné klubové štafety bez rozdielu pohlaví</LI>
    <LI>K – dvojčlenné štafety bez obmedzenia</LI>
    <LI>N – náborová – jednotlivci (orientačne jednoduchá trať pre začiatočníkov)</LI>
    <LI>MWR – deti s doprovodom – jednotlivci</LI>
</UL>
<UL>
    <LI>MW 12 (2-členné štafety detí do 12 rokov, bez ohľadu na klubovú príslušnosť a pohlavie)</LI>
    <LI>K (2-členné štafety bez ohľadu na vek, klubovú príslušnosť a pohlavie)v dĺžke cca 3km</LI>
    <LI>N - (2-členné štafety bez ohľadu na vek, klubovú príslušnosť a pohlavie na orientačne jednoduchej trati pre
        začiatočníkov v dĺžke do 2,0 km</LI>
    <LI>NJ – kategória pre jednotlivcov na tratiach štafiet N. Je vhodná pre rodičov s deťmi, resp. začiatočníkov s
        doprovodom bez rozdielu veku</LI>
    <LI>KJ – kategória pre jednotlivcov na tratiach štafiet K</LI>
</UL>

<BR />
<BR />
Všetci členovia štafety sa prihlasujú ako jednotlivci, pričom do poznámky uvedú názov štafety a poradie v štafete
oddelené pomlčkou, napr. VZA 1-1, VZA 1-2, VZA 1-3.<BR />
Napíšte poznámky aby bolo jasné, kto s kým a v akom poradí. Do oficiálneho prihlásenia ich upravím podľa predpísaného
formátu.