<H1>Slovenský rebríček jednotlivcov na dlhých tratiach</H1>
<BR>
<BR>

<table>
    <tr>
        <td>Dátum:</td>
        <td><b>30.05.2026 (sobota)</b></td>
    </tr>
    <tr>
        <td>Miesto:</td>
        <td>Ski areál Mosty u Jablunkova <a target="_blank" rel="noopener noreferrer"
                href="https://mapy.com/s/munenurare">(mapa)</a></td>
    </tr>
    <tr>
        <td>Popis:</td>
        <td><a href="https://is.orienteering.sk/competitions/1966">https://is.orienteering.sk/competitions/1966</a></td>
    </tr>
</table>

<BR />
<H3>Kategórie SRJ: </H3>
<UL>
    <LI>W 12A, 14A, 16A, 18A, 20A, 21A, 21B, 35A, 40A, 45A, 50A, 55A, 60A, 65A, 70A, 75A</LI>
    <LI>M 12A, 14A, 16A, 18A, 20A, 21A, 21B, 21C, 35A, 40A, 45A, 50A, 55A, 60A, 65A, 70A, 75A</LI>
</UL>
<BR />
<H3>Kategórie Verejné preteky: </H3>
<UL>
    <LI>W10, M10</LI>
    <LI>MWR - deti s doprovodom</LI>
    <LI>N - náborová trať pre začiatočníkov</LI>
    <LI>K - kondičná, orientačne náročná trať</LI>